// app global css in SCSS form
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$title: 'Lato', sans-serif;
$body: 'Poppins', sans-serif;

html {
  color: #f5f6fb;
}

p,
span {
  font-family: $body;
}

@for $index from 1 through 6 {
  h#{$index} {
    font-family: $title;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0) rotate(45deg);
  }
  50% {
    transform: translateY(random(5) + rem) rotate(45deg);
  }
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ellipsis-multiline {
  text-overflow: ellipsis;
  overflow: hidden;
  // Addition lines for 2 line or multiline ellipsis
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-template-rows: auto;
  gap: 1rem;
  grid-auto-flow: dense;
  position: relative;
}
