@mixin phone {
  @media (min-width: 200px) {
    @content;
  }
}

@mixin phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin flex($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin fade-in($time: 0.5s) {
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  animation: fade-in $time ease-in-out forwards;
}
