$primary: #007789;
$secondary: #936e9e;
$accent: #548ef8;

$white: #f5f6fb;
$grey: #bbbbbb;
$dark: #051937;
$dark-page: #121212;

$positive: #7ed57b;
$negative: #c10015;
$info: #348eff;
$warning: #f3bf3a;
