$primary: #051937;
$secondary: #007f80;
$accent: #004c99;

$white: #f5f6fb;
$grey: #bbbbbb;
$dark: #031124;
$dark-page: #121212;

$positive: #7ed57b;
$negative: #c10015;
$info: #dbffff;
$warning: #f3bf3a;
